.row > div {
    max-width: 400px;
}

.Joining h1{
    color: #12689B;
    text-align: left;
}

.Joining p{
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #12689B;
}

.row {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding: 0 20px;
    align-items: center;
}

@media (max-width: 800px) {
    .row {
        flex-direction: column;
    }

    .row:nth-child(2) {
        flex-direction: column-reverse;
    }
}

.Joining h2{
    color: #12689B;
    text-align: left;
}

.Join-Image {
    width: 90%;
}

.Find-Image {
    width: 100%;
}

.link-buttons {
    width: 250px;
    height: 55px;
    margin-top: 5%;
    margin-bottom: 5%;
    border-style: none;
    border-radius: 30px;
    background-color: #FFD79B;
    transition: background-color 0.5s;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.link-buttons:hover {
    background-color: antiquewhite;
    transform: scale(1.1);
}

.link-buttons h4{
    color: #12689B;
    font-weight: 800;
}
