#ieee-logo {
    width: 200px;
    margin: 1.5% 80% 0px 0px ;
    transition: .3s ease-in-out;
}

#ieee-logo:hover {
    transform: scale(1.2);
}

#input {
    width: 140px;
    height: 24px;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    border: none;
}
*::before {
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.6rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    height: 100px;
}

.nav-items a {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 500;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-toggle div{
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: #FFFFFF;
    transition: 0.3s ease-in;
}

.nav-toggle {
    cursor: pointer;
    display: none;
}

.nav a {
    text-decoration: none;
    padding: 6px;
}

@media screen and (max-width: 768px) {
    .nav-toggle {
        display: block;
    }
    .nav-menu {
        position: fixed;
        top: 150px;
        right: 0;
        width: 50vw;
        background: #EEEEEE;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.3s ease-in;
        border-radius: 11px;
        z-index: 20;
        /*opacity: 0.9;*/
        padding: 40px 10px;
    }

    #vl{
        height: 0;
        width: 90%;
        border-bottom: 2px solid #808080;

    }
}

/* Nav Active Class */
.nav-active {
    transform: translateX(0);
}

/* Toggle Icon Animation */
.toggle .first{
    transform: rotate(-45deg) translate(-8px, 5px);
}
.toggle .second{
    opacity: 0;
}
.toggle .third{
    transform: rotate(45deg) translate(-8px, -5px);
}

.nav a {
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    transition: transform .5s;
}
.nav-items a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #FFFFFF;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav a:hover:after {
    width: 100%;
    left: 0;
}

ul {
    margin: 0;
    padding: 0;
}