.footer {
    padding: 20px;
    display: flex;
    justify-content: center;
}
.social-media {
    background-color: #DAEDF5;
    border-radius: 30px;
    padding: 15px;
    justify-content: center;
    column-gap: 55px;
    font-size: 50px;
    display: flex;
    transition-delay: 2s;
}

.social-media a{
    color: #151725;
}